.cart_wrapper {
  width: 70%;
  margin: 20px auto;
}

.cart_empty {
  padding-bottom: 5px;
  border-bottom: 1px solid #524a4e;
}

.cart_item {
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: 1px 1px 3px #e2dcdf;
  margin: 5px 0;
}
.cart_item img {
  width: 80px;
  margin-right: 10px;
}
.cart_item .cart_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.cartFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

button {
  display: inline-block;
  border: 0;
  background: #2eb086;
  color: mintcream;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}