.products {
  display: flex;
  justify-content: space-between;

  .productItem {
    width: 24%;
  }
  .productItem img {
    width: 100%;
    padding: 1px;
  }
  .productInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
  }
  button {
    display: block;
    width: 100%;
    border: 0;
    background: tomato;
    color: mintcream;
    padding: 4px;
    border-radius: 2px;
  }
}
